/* Mobile Header Home Pages */
.header__mobile {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.header__logo-mobile {
   width: 4.375rem;
   margin: 0.5rem;
   position: relative;
   top: 0;
   left: 0;
   z-index: 2;
}

.header__mobile--toggle {
  background-color: transparent;
  border: none;
  border-radius: 0.4375rem;
   width: max-content;
   height: auto;
   top: 40.625rem;
   right: 0px;
   position: fixed;
}
.header__mobile-title{
   padding: 0;
   margin: 0;
   color: #FFF;
}
.header__svg{
   padding: 0;
   margin: 0;
   /* apply dropshadow */
   /* filter: drop-shadow(30px 54px 67px rgba(255, 255, 255, 0.321)) */
}

/* Mobile header - pages */
.header__mobile--pages {
   margin: 0rem auto;
}