@use '../Styles/variables.scss';
.nav {
  background-color: variables.$main-colour;
  height: auto;
  width: 70%;
}

.nav__ul {
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding: 1rem;
  width: 100%;
}

.nav__ul{
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-decoration: none;
   & a{
      color: variables.$second-colour;
      font-family: variables.$skill-type;
   }
}
