@font-face {
   font-family: 'inter';
   src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

@font-face {
   font-family: 'source code';
   src: url('../fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
}

@font-face {
   font-family: 'radio canada';
   src: url('../fonts/RadioCanada-VariableFont_wdth\,wght.ttf') format('truetype');
}