.section__header{
   background-color: rgb(0, 0, 255);
   border-bottom-left-radius: 0.625rem;
   border-bottom-right-radius: 0.625rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.section__header h2, .section__header p, .header__logo-mobile {
   margin: 0rem auto;
   padding: 0.3rem;
   color: #fff;
}